{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVM Global</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
    <script src="{% static 'js/sidebar.js' %}"></script>
    <title>Document</title>
</head>

    <body class="bg-[#f5f8ff] relative">
        <!--------------------------------Nav Bar section ------------------------------>
        <section class="w-full mx-auto">
            <nav class="bg-white">
                <div class="container mx-auto flex items-center justify-between px-4 py-3 absolute z-20">
                    <div class="flex items-center">
                        
                    </div>
                    <div class="flex items-center">
                        <a href="#" class="text-[#95a4c0] mr-10"><i class="fa-solid fa-toggle-on"></i></a>
                        <a href="#" class="text-[#95a4c0] mr-10"><i class="fa fa-bell" style="font-size:36px"></i></a>
                        <img src="{% static 'images/icon.png' %}" class="origin-left z-50 mr-5" height="50px" width="50px">
                        <a href="#" class="text-black">AVM</a>
                    </div>
                </div>
            </nav>
        </section>
        <!--------------------------------Nav Bar section ------------------------------>

        <!--------------------------------contant section ------------------------------>
        <section>
            
        </section>
        <!--------------------------------contant section ------------------------------>



        <!--------------------------------Side Bar section ------------------------------>
        <section>
            <div class="flex relative">
                <div class="bg-[#0c2556] h-screen p-5 pt-8 w-64 text-white border-4">
                    <div class="w-[18rem] h-16 rounded-full">
                        <img src="{% static 'images/icon.png' %}" class="origin-left z-50" height="65px" width="65px" id="logo">
                        <p class="text-xl font-extrabold px-5" id="titleName">AVM Global</p>
                    </div>
                        <span class="cursor-pointer bg-[#0c2556] text-white text-3xl rounded-full absolute -right-4 top-9 border-[#0c2556] border-4" >
                        <i class="fa-solid fa-bars" id="toggleSidebarBtn"></i></span>
                    <div class="items-start mt-5">
                        <ul class="list-none">
                            <li class="text-left hover:bg-[#8f9fbc] hover:rounded-md mt-2">  
                                <i class="icon-home ">Dashboard</i> 
                            </li>
                            <li class="text-left hover:bg-[#8f9fbc] hover:rounded-md mt-2">  
                                <i class="icon-home ">Leads</i> 
                            </li>
                            <li class="text-left hover:bg-[#8f9fbc] hover:rounded-md mt-2">  
                                <i class="icon-home ">Clients</i> 
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--------------------------------Nav Bar section ------------------------------>

        
        <!--------------------------------footer section ------------------------------>
        {% comment %} <section>
            <footer class="mx-auto bg-blue-400">
                <div class="w-full md:mx-auto sm:px-4 max-w-full">
                    <div class="flex flex-wrap ">
                        <div class="lg:w-1/2 pr-4 pl-4">
                            
                        </div>
                        <div class="lg:w-1/2 pr-4 pl-4 text-right">
                            <span class="mr-1">
                                Copyright
                                <script>document.write(new Date().getFullYear())</script>© <a href="#">AVM Global</a>
                                Powered By <a href="#">Krayon</a>
                            </span>
                        </div>
                    </div>
                </div>
            </footer> 
        </section> {% endcomment %}
        <!--------------------------------footer section ------------------------------>

        
    </body>
</html>