<footer class="mx-auto bg-blue-400">
    <div class="w-full md:mx-auto sm:px-4 max-w-full">
        <div class="flex flex-wrap ">
            <div class="lg:w-1/2 pr-4 pl-4">
                
            </div>
            <div class="lg:w-1/2 pr-4 pl-4 text-right">
                <span class="mr-1">
                    Copyright
                    <script>document.write(new Date().getFullYear())</script>© <a href="#">AVM Global</a>
                    Powered By <a href="#">Krayon</a>
                </span>
            </div>
        </div>
    </div>
</footer> 