<footer class="mx-auto">
    <div class="w-full md:mx-auto sm:px-4 max-w-full">
        <div class="flex flex-wrap ">
            <div class="lg:w-1/2 pr-4 pl-4">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                </ul>
            </div>
            <div class="lg:w-1/2 pr-4 pl-4 text-right">
                <span class="mr-1">
                    Copyright
                    <script>document.write(new Date().getFullYear())</script>© <a href="#" class="">TDP Vista</a>
                    All Rights Reserved.
                </span>
            </div>
        </div>
    </div>
</footer> 