{% load static %}
<div class="bg-[#0c2556] h-screen p-5 pt-8 w-64 relative text-white sidenav" id="mySidenav">
    
    <div class="w-[18rem] h-16 rounded-full flex">
        <img src="{% static 'images/icon.png' %}" class="origin-left" height="65px" width="65px" id="logo">
        <p class="text-xl font-extrabold px-5" id="titleName">AVM Global</p>
    </div>
    
    <span class="cursor-pointer bg-[#0c2556] text-white text-3xl rounded-full absolute -right-4 top-9 border-[#0c2556] border-4" onclick="openNav()">
        <i class="fa-solid fa-bars"></i></span>
    <div id="overlay" onclick="closeNav()"></div>
    
    
        <div class="items-start mt-5">
            <ul class="list-none">
                <li class="text-left hover:bg-[#8f9fbc] hover:rounded-md mt-2">  
                    <i class="icon-home ">Dashboard</i> 
                </li>
                <li class="text-left hover:bg-[#8f9fbc] hover:rounded-md mt-2">  
                    <i class="icon-home ">Leads</i> 
                </li>
                <li class="text-left hover:bg-[#8f9fbc] hover:rounded-md mt-2">  
                    <i class="icon-home ">Clients</i> 
                </li>
            </ul>
        </div>


</div>


